.sidebar {
  height: 100%;
  padding: 1rem 1rem 1rem 2rem;
  /* border: 1px solid red; */
  width: 15%;
  /* border: 1px solid green; */
  margin-top: 69px;
}

.sidebar__logo {
  width: 180px;
  height: 39.37px;
  /* border: 1px solid yellow; */
  margin-left: -20px;
}

.sidebar p {
  margin-top: 2rem;
  margin-left: 10px;
  font-weight: bold;
}

.sidebar__logo img {
  width: 100%;
}

.sidebar__menu {
  margin-top: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.sidebar__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  cursor: pointer;
}

.sidebar__menu hr {
  border: none;
  border-top: 0.5px solid #e0e0e0;
}
